<% provide(:title, "Glossary") %>
<h1> <%= yield(:title) %> </h1>
<div class = "row">
  <h4><i> accessibility </i></h4>
  <p>accessibility is both a practice and a way of measurement. One can practice accessibility by paying close attention to factors that might influence someone's ability to reach or engage with a particular product. Accessibility as a measurement investigates how a particular product is available or unavailable depending on the factors.</p>
</div>

<div class = "row">
  <h4><i>boundaries</i></h4>
  <p>Boundaries are a communicated limit that is set between you and another person. Boundaries can be strong, meaning they should never be pushed, or loose, meaning they are malleable. Boundaries can change overtime and can change depending on who we are interacting with, where we are, or how we feel that day.</p>
</div>

<div class = "row">
  <h4><i>consent<i></h4>
  <p>Consent is a practice of self-awareness and mutual respect. Consent should always be voluntary and on-going, meaning that consent is not given under any pressures or persuasion, and it is repeatedly or continuously given. Consent should also be given enthusiastically, specifically, and with an informed mindset. Sometimes circumstances dictate whether or not someone has the ability to give consent. For instance if someone is under the influence of drugs or alcohol, unconscious or asleep, under the legal age of consent, or pressured or in a position of disempowerment - they cannot give consent.</p>
</div>

<div class = "row">
  <h4><i>compulsory monogamy</h4></i>
  <p>A social mandate which dictates that monogamy is the "goal." or the most natural and rewarding relationship structure to practice.</p>
</div>

<div class = "row">
  <h4><i>contraception</h4></i>
  <p>Contraception (or contraceptives) are tools use to prevent unwanted pregnancies and STDs.</p>
</div>

<div class = "row">
  <h4><i>gender</h4></i>
  <p>Gender can be thought of as an on-going interaction between gender identity, bodily characteristics, expression, and attribution. Gender is a social identity, meaning it is a continuously fluctuating social concept that is to some degree dependent on other people, our bodies, and social standards. </p>
</div>

<div class = "row">
  <h4><i>gender dysphoria</h4></i>
  <p>Gender dysphoria is the feeling that one’s physical characteristics or socialization does not match or validate their gender identity. This is a common feeling for most trans or gender non-conforming people. </p>
</div>

<div class = "row">
  <h4><i>gender euphoria</h4></i>
  <p>A feeling of intense happiness when your gender is being affirmed. Gender euphoria comes from within, it is a “this feels like it is affirming me” and sparks joy, acceptance, and euphoria from outer stimuli. What affirms one person may not affirm someone else, learn what sparks gender euphoria and do that thing. </p>
</div>

<div class = "row">
  <h4><i>gender identity</i></h4>
  <p>Gender identity is how you see yourself on the inside - it is completely up to you. It’s how you perceive yourself and what feels most comfortable in your body.</p>
</div>

<div class = "row">
  <h4><i>gender expression</i></h4>
  <p>How you express your gender, both physically and non-physically. Gender can be expressed through bodies, clothing, mannerisms, and much more.</p>
</div>

<div class = "row">
  <h4>menstruation</h4>
  <p>Menstruation occurs when the inner lining of the uterine wall sheds. This process can last from 3 - 6 days, during which people experience a wide array of both pleasant and unpleasant symptoms; cramps, headaches, cravings, shifts in mood, increased libido, and many more. The cycle of menstruation and fertility will happen every month according to hormone cycles of the body.</p>
</div>

<div class = "row">
  <h4>monogamy</h4>
  <p>Monogamy is a relationship structure typically characterized by an exclusive or closed partnership between two people.</p>
</div>

<div class = "row">
  <h4>pleasure activism</h4>
  <p>Pleasure activism can be thought of as a multi-functional framework to guide us in activism and community work, while also guiding us in our moment-to-moment decisions, daily habits and routines, and life-long purpose. Author adrienne mares brown describes it as, "...the work we do to reclaim our whole, happy, and satisfiable selves from the impacts, delusions, and limitations of oppression and supremacy” (brown, p. 13).</p>
</div>

<div class = "row">
  <h4>polyamory</h4>
  <p>Polyamory is a relationship structure characterized by partner's consensual agreement to engage in multiple sexual or romantic partnerships.</p>
</div>

<div class = "row">
  <h4>pronouns</h4>
  <p>Pronouns are a traditionally gendered way to refer to someone instead of using their name. People choose which pronouns they prefer. Common pronouns include she/her, he/him, and they/them, but there are many different pronouns out there (and they are all valid).</p>
</div>

<div class = "row">
  <h4>puberty</h4>
  <p>Puberty is a time period, typically in adolescence, in which significant changes occur to a young person's mind and body. Puberty begins in our brains which sends signals to our bodies that it’s time to begin a transformation. These signals are delivered through hormones, which are chemical signals that travel through our blood to communicate between organ systems.</p>
</div>

<div class = "row">
  <h4>trauma</h4>
  <p>Like most terms, the meaning of trauma has changed throughout history. Originally, trauma only meant physical injury, like a broken bone or brain injury. When the field of psychology developed, trauma started to include extreme disturbing psychological experiences, like witnessing a horrible accident or experiencing a battlefield. Most recently, the definition of trauma has evolved to include a multitude of experiences and emotional responses. Today it is recognized that trauma is a common experience in our society. </p>.
</div>

<div class = "row">
  <h4>trauma informed care (TIC)</h4>
  <p>Trauma-informed care (TIC) does not have a single definition, but it is widely recognized as a cultural shift. TIC is an awareness of the prevalence of trauma in our society, and an understanding that the current systems in place have a tendency to re-traumatize individuals. TIC recognizes both the clinical symptoms of trauma, and the real-life signs.</p>
</div>
