<footer class="footer">
  <small>
    © Copyright 2022 TLW Solutions
  </small>

  <nav>
    <ul> 
        <a href = "https://facebook.com/Queer-Sex-Ed-Community-Curriculum-111380534077841"  class = "fa fa-facebook" target = "_blank"></a>
        <a href = "https://twitter.com/QueerSexEdCC" class = "fa fa-twitter" target = "_blank" ></a>
        <a href = "https://instagram.com/queersexedcc" class = "fa fa-instagram" target = "_blank" ></a>
    </ul>
  </nav>
</footer>
