<div class = "row text-center">
  <div class = "col">
    <h2>The Queer Sex Ed Community Curriculum is a free sexual and relational health curriculum for young people and adults. </h2>
    <%= image_tag("flag.jpg", alt: "multiple strings of pride flags shown blowing in the wind, connected to a brick building during sunset.") %>
  </div>
</div>

<div class = "row">
  <div class = "col">
    <h1>OUR MISSION</h1>
    <ul>
      <li>
        <p>QSECC strives to create a <b>pleasure-centered, trauma-informed, queer-inclusive</b>, and <b>socially</b> conscious curriculum.</p>
      </li>
      <li>
        <p>QSECC is an expansive platform that is committed to <b>reimagining the ways that knowledge is created, collected, and validated.</b> To that extent, we aspire to be an <b>open-source archive</b> of knowledge that stems from <b>many voices and perspectivesi</b></p>
      </li>
      <li>
        <p>QSECC attempts to <b>disrupt the established hierarchy</b> of validation of knowledge by purposefully uplifting the voices and knowledge of those who may not have access to <b>institutions of higher education, degrees, years of experience</b>, the <b>body</b>, or the <b>background</b> typically endowed with <b>epistemic authority</b> (or the power to create truths).</p>
      </li>
    </ul>
  </div>
</div>
