<div class = "row text-center">
  <div class = "col">
    <h1>FIND US ON PATREON</h1>
    <div class = "row">
      <p>This project will <b>always be free</b> to access and be a part of - that’s a commitment we made at the beginning of this that we’re dedicated to. </p>
    </div>
    <div class = "row">
      <p>We launched a Patreon not to add a paywall to our content but instead to <b>ensure the sustainability of this project</b>, to support us as we balance creating these <b>free educational materials</b> with full-time jobs and general life pressures. </p>
    </div>
  </div>
  <div class = "row">
    <p>If you appreciate <b>the work we do</b> and are able to, please consider supporting us on Patreon from as low as $3 a month. <i>All patrons have access to the same perks (regardless of how much you are able to pay) - early access to virtual trainings, zine suggestions, and more.</i> </p> 
  </div>
  <a href = "https://www.patreon.com/queersexedcc" style = "border: 1px solid;">SUPPORT US ON PATREON!</a>
</div>
