<div class = "row">
    <div class = "col-md-6">
      <h3><a href = "https://www.youtube.com/c/TheSexTalkWebSeriesX/featured">The Sex Talk with Mou</a></h3>
    </div>
    <div class = "col-md-6">
      <p>Moushumi Ghose is a sex therapist  and author who hosts a YouTube channel dedicated to exploring and understanding sexual and mental health, and the intersections there. She has over 180 videos!</p>
    </div>
</div>

<div class = "row">
  <h1>READINGS</h1>
  <div class = "col-md-6">
    <h3><a href = "#">Pleasure Activism </a></h3>
  </div>
  <div class = "col-md-6">
    <p><i>Pleasure Activism: the Politics of Feeling Good</i> by adrienne maree brown is an accessible introduction to many aspects of sex positive thinking, such as queer theory, intersectionality, and the concept of pleasure activism.  </p>
  </div>
</div>

<div class = "row">
  <div class = "col-md-6">
    <h3><a href = "http://yanatallonhicks.com/blog/">The Sex Column</a></h3>
  </div>
  <div class = "col-md-6">
    <p>The Sex Column, by therapist and author Yanna Tallon-Hicks, is an on-going blog filled with  constantly updated information, including articles on how to have safe sex during the time of COVID-19. </p>
  </div>

<div class = "row">
  <div class = "col-md-6">
    <h3><a href = "https://www.beheroes.net/the-pride-guide">The Pride Guide</a></h3>
  </div>
  <div class = "col-md-6">
    <p>The Pride Guide: a Guide to Social and Sexual Health for LGBTQ Youth by Jo Langford is an excellent gender-expansive, trans-inclusive guide for kids and young adults who are navigating life through ever-changing bodies and minds. </p>
    </div>
</div>
