<div class="row text-center mt-md-5 center">
    <div class="col-md-6 col-12 mb-5 ">
      <%= image_tag("heather.jpg", class: "img-fluid rounded-circle mt-3 mb-4 shadow")%>
      <h3><strong>Heather Welty</strong> <a href="https://www.linkedin.com" 
                                          class="fa fa-linkedin" target="_blank"></a></h3>
      <p><strong>Director, founder</strong> | <i>they/she</i></p>
      <p> Heather's interest in sex education and relational well-being centers around incorporating critical social theory into the pedagogy of public health education and therapy. She holds a B.A. in cognitive psychology and critical social theory and has a history in both lab and field research focusing on cognition, social psychology, and critical pedagogy. Heather is currently based in Western Massachusetts where they work supporting young people experiencing homelessness. </p>
    </div>
    

    <div class="col-md-6 col-12 mb-5">
      <%= image_tag("aly.jpg", class: "img-fluid rounded-circle mt-3 mb-4 shadow") %>
      <h3><strong>Aly Albertson</strong> <a href="https://linkedin.com" class = "fa fa-linkedin" target="_blank"></a></h3>
      <p><strong>Director, founder</strong> | <i>they/she</i> </p>
      <p>Al/Alb/Aly is a pleasure-based sexuality educator and researcher based in Amsterdam. They hold a Master of Science in Sociology: Gender, Sexuality, and Society, and a B.A. in sexuality education, gender/identity studies, and sexual health. They have worked at several international nongovernmental organizations as a researcher on pleasure focused sexual and reproductive health and rights initiatives. Their work focuses on intersections of power, health, knowledge, identity, pleasure, and educational pedagogy.</p>
    </div>
</div>
