 <div class = "row">
    <h1>VIRTUAL RESOURCES</h1>
    <div class = "col-md-6">
      <h3><a href = "https://futureofsexed.org/">Future Of Sex Education (FoSe)</a></h3>
    </div>
    <div class = "col-md-6">
      <p>FoSe is  an incredible database of information for all things sex education. They offer research, professional development, curriculum, and implementation practices. </p>
    </div>
 </div>

 <div class = "row">
    <div class = "col-md-6">
      <h3><a href= "https://www.onlinetherapy.com/resources-for-lgbtq/">LGBTQ+ Mental Health</h3></a>
    </div>
    <div class = "col-md-6">
      <p>This guide covers some of the unique challenges faced by LGBTQ+ individuals, how therapy can help, tips for finding the right provider, and additional helpful resources. </p>
    </div>
</div>

<div class = "row">
    <div class = "col-md-6">
      <h3><a href = "https://www.queersexed.org/">Queer Sex Ed</a></h3>
    </div>
    <div class = "col-md-6">
      <p>QueerSexEd.org is a podcast and training organization. They offer webinars and in-person trainings, as well as an archive and transcripts of all of their podcasts.</p>
    </div>
</div>

<div class = "row">
    <div class = "col-md-6">
      <h3><a href = "https://www.scarleteen.com/"</h3></a>
    </div>
    <div class = "col-md-6">
      <p>Scarleteen is an organization that has been operating for over 20 years, offering services for teens and young adults such as advice, referrals, as well as sexual health content and podcasts.</p>
    </div>
</div>
