<div class = "row">
  <h1>WEBINARS AND VIDEOS</h1>

  <div class = "row">
    <div class = "col-md-6">
      <h3><a href = "vimeo.com/306867344">GLSEN's Sex Ed Webinar</a></h3>
    </div>
    <div class = "col-md-6">
      <p>This 30 minute webinar, produced by GLSEN, covers topics related to LGBTQIA+ sex education for students.</p>
    </div>
  </div>

  <div class = "row">
    <div class = "col-md-6">
      <h3><a href = "http://www.sbh4all.org/events/making-room-for-gender-diversity-in-school-health-services-and-sex-education/">Gender Diversity in Sex Ed</a></h3>
    </div>
    <div class = "col-md-6">
      <p>This 1 hour webinar, produced by GLSEN, explores research, pedagogical approaches, and affirming practices for creating inclusive sex ed classes in schools.</p>
    </div>
  </div>

  <div class = "row">
    <div class = "col-md-6">
      <h3><a href = "https://exploresextalk.com/">UCLA Continuing Education </a></h3>
    </div>
    <div class = "col-md-6">
      <p>This extensive database of webinars, curated by the YMSM+LGBT group at UCLA, offers information on a multitude of topics from transgender healthcare to HIV+ awareness and testing. There are about 20 webinars in this database, each about 1 hour long. </p>
    </div>
  </div>
</div>
